@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Hind+Vadodara&display=swap');

:root {
    --primary-color: #39d0c1;
    --secondary-color: #5E9E6F;
    --accent1-color: #395B50;
    --accent2-color: #ffb041;

    --heading-font: 'Gretchen Fuemen', cursive;
    --paragraph-font: 'Hind Vadodara', sans-serif;

    --nav-background-color: #39d0c1;
    --nav-link-color: azure;
    --nav-hover-link-color: #395B50;
    --nav-hover-background-color: #ffb041;
}

header img {
    width: 150px;
    height: auto;
    margin: 0.5rem;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 1rem;
    max-width: 1000px;
    height: auto;
    background-color: var(--primary-color);
    /*border: 1px solid #395B50;*/
}

p {
    padding: 20px;
    color: var(--accent1-color);
}

nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--nav-background-color);
    font-size: 1.7rem;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 0.5rem;
    margin: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: -1rem;
    left: 2rem;
    font-size: 3rem;
}

.hero article {
    position: absolute;
    top: 430px;
    left: 0;
    width: 100%;
    background-color: #39d0c1e1;
    border: 0.5px solid #223630;
}

.hero article img {
    float: left;
    width: 25%;
    height: auto;
    margin: 6px;
}

.hero article p {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    color: azure;
}

section {
    background-color: #39d0c1;
    color: azure;
    max-width: 1000px;
}

.history {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.history img {
    width: 40%;
    height: auto;
    margin: 0 20px 20px 20px;
    box-shadow: 0 0 30px #5E9E6F;
}

.history p {
    font-size: 1.2rem;
    margin: 0 0 20px 20px;
    color: azure;
}

section h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #395B50;
}

.adventure {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.adventure img {
    width: 100px;
    height: auto;
    box-shadow: 0 0 30px #395B50;
}

.adventure figcaption {
    font-size: 1rem;
}

.company {
    background-color: #5E9E6F;
    display: grid;
    margin: 10px;
}

.company h2 {
    color: #ffb041;
    margin: 0 0 10px 0;
}

.office {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.office1 img {
    width: auto;
    height: 14rem;
    margin: 0;
}

.office1 {
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-rows: 15rem 10rem;
}

.info {
    display: flex;
    flex-wrap: wrap;
    

}
.info img {
    width: 30px;
    height: auto;
    align-self: center;
    margin: 0;
}

iframe {
    width: 30rem;
    height: 25rem;
}

.team {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.team img {
    width: 100px;
    height: auto; 
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #39d0c1;
    color: azure;
    max-width: 1000px; 
    margin-top: 25px;  
}

footer img {
    width: 30px;
    height: auto;
}

footer nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    background-color: var(--primary-color);
    font-size: 0.5rem;
}

footer p {
    display: flex;
    justify-self: center;
    color: #395B50;
}