@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Hind+Vadodara&display=swap');

:root {
    --primary-color: #39d0c1;
    --secondary-color: #5E9E6F;
    --accent1-color: #395B50;
    --accent2-color: #ffb041;

    --heading-font: 'Gretchen Fuemen', cursive;
    --paragraph-font: 'Hind Vadodara', sans-serif;

    --nav-background-color: #39d0c1;
    --nav-link-color: azure;
    --nav-hover-link-color: #395B50;
    --nav-hover-background-color: #ffb041;
}

header img {
    width: 150px;
    height: auto;
    margin: 0.5rem;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 1rem;
    max-width: 1000px;
    height: auto;
    background-color: var(--primary-color);
    /*border: 1px solid #395B50;*/
}

p {
    padding: 20px;
    color: var(--accent1-color);
}

nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--nav-background-color);
    font-size: 1.7rem;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 0.5rem;
    margin: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: -1rem;
    left: 2rem;
    font-size: 3rem;
}

.hero article {
    position: absolute;
    top: 430px;
    left: 0;
    width: 100%;
    background-color: #39d0c1e1;
    border: 0.5px solid #223630;
}

.hero article img {
    float: left;
    width: 25%;
    height: auto;
    margin: 6px;
}

.hero article p {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    color: azure;
}

section {
    background-color: #39d0c1;
    color: azure;
    max-width: 1000px;
}

.history {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.history img {
    width: 40%;
    height: auto;
    margin: 0 20px 20px 20px;
    box-shadow: 0 0 30px #5E9E6F;
}

.history p {
    font-size: 1.2rem;
    margin: 0 0 20px 20px;
    color: azure;
}

section h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #395B50;
}

.adventure {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.adventure img {
    width: 100px;
    height: auto;
    box-shadow: 0 0 30px #395B50;
}

.adventure figcaption {
    font-size: 1rem;
}

.company {
    background-color: #5e9e6ff6;
    display: grid;
    margin: 10px 0 0 0;
    padding: 0;
    max-width: 1000px;
}

.company h1 {
    color: #ffb041;
    margin: 0;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 5px var(--accent1-color);
    font-size: 2rem;
}

.office {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0px 20px 20px 20px;
    align-items: center;
    justify-items: center;
    max-width: fit-content;
    align-self: center;
    justify-self: center;
}

.office1 figcaption {
    color: #395B50;
    margin: 0;
}

.office1 img {
    width: auto;
    height: 15rem;
    margin: 30px 0 0 0;
    justify-self: center;
    border-radius: 7px;
    box-shadow: 0 0 1rem #395B50;
}

.office1 {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    margin: 0;
    text-align: center;
    align-items: center;
    padding: 0;
}

.office1 p {
    margin: 0;
    color: azure;
}

.info {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    text-align: left;
    padding: 0;
}

.info img {
    width: 30px;
    height: 30px;
    margin: 0;
}

iframe {
    width: 25rem;
    height: 25rem;
    border-radius: 3%;
}

.team {
    background-color: #5e9e6ff6;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    display: grid;
}

.team h2 {
    color: #ffb041;
    margin: 0;
    box-shadow: 0 0 5px var(--accent1-color);
}

.team1 {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 40px
}

.team1 img {
    width: 120px;
    height: auto;
    margin: 0;
    text-align: center;
    border-radius: 3%;
    box-shadow: 0 0 10px var(--accent1-color);
}

.team1 figcaption {
    text-align: center;
    margin: 0;
}

.forms {
    border: 1px solid #5E9E6F;
    border-radius: 6px;
    background-color: #5e9e6f4f;
    margin: 10px 0;
}

form {
    display: grid;
    grid-template-columns: 2fr 3fr;
    border-radius: 6px;
    margin: 0 20px 20px 20px;
    gap: 20px;
}

.forms h2 {
    font-family: var(--paragraph-font); 
    margin: 0 250px;  
}

fieldset {
    display: grid;
    border: 1px solid #5E9E6F;
    border-radius: 6px;
    margin: 0;
    padding: 10px;
}

fieldset p {
    display: grid; 
    grid-area: 1/ 1 / 4/ 2;
    margin: 0;
    color: var(--accent1-color);
    font-size: large;
    padding: 0;
    align-self: flex-start;
}

legend {
    font-size: larger;
    font-weight: bolder;
    padding: 0.5em;
    color: var(--accent1-color);
}

label, input, button, textarea {
    font-size: large;
    color: var(--accent1-color)
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, textarea {
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 2rem;
    height: 1.2rem;
}

textarea {
    margin: 0.5rem;
}

button {
    margin: 1rem 5rem;
    padding: 0.5rem;
    background-color: var(--accent1-color);
    color: aliceblue;
    border-radius: 6px;
    border: none;
    font-size: 1.2rem;
    font-family: inherit;
    box-shadow: 0 0 5px var(--accent1-color);
}

button:hover {
    background-color: var(--primary-color);
    color: var(--nav-hover-link-color);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 2fr;
    margin: 0;
    padding: 0;
}

.column2 {
    display: grid;
    grid-template-columns: 3fr 1fr 7fr;
    align-items: center;
    justify-items: left;
    margin: 1rem 3rem
}

.column3 {
    display: flex;
    margin: 0px;
}

label[for="feedback"] {
    text-align: left;
    margin: 0 0 0 10px;
}

label[for="message"] {
    text-align: left;
    margin-left: 10px;
}

input[type="radio"] {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    justify-self: right;
}

footer {
    display: grid;
    grid-template-columns: 3fr 0.5fr 1fr;
    background-color: #39d0c1;
    max-width: 1000px; 
    margin: 0;
    padding: 1rem 5rem;  
}

footer img {
    width: 30px;
    height: auto;
}

footer nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: var(--paragraph-font);

}

.wireframe {
    align-items: center;
    color: var(--accent1-color);
}


footer p {
    display: flex;
    justify-self: center;
    color: #395B50;
    flex-wrap: nowrap;
}