@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    font-size: medium;
    display: grid;
    grid-template-columns: 400px;
    justify-content: space-around;
}

h1 {
    display: flex;
    justify-content: space-around; 
    margin: 3px;
    color: rgb(66, 5, 131);
    font-size: larger;
}

fieldset {
    display: grid;
    background-color: rgb(238, 237, 237);
    border: 0.5px solid #e0e0e0;
    border-radius: 6px;
    grid-template-columns: 375px;
}


label {
    margin-bottom: 5px;
    margin-top: 10px;
}
    
input {
    height: fit-content;
}

textarea {
    height: 6rem;
}

select {
    height: auto;
    box-sizing: border-box;
}

input, textarea, select {
    width: 350px;
    margin-bottom: 20px;
    margin-left: 12px;
    box-sizing: border-box;
    font-family: inherit;
    padding: 0.5rem;
    font-size: medium;
}

img {
    width: 15rem;
    margin: 10px 60px 15px 60px;
    border: 0.5px solid black;
}

button {
    align-items: center;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 12px;
    background-color: rgb(97, 61, 130);
    color: white;
    font-size: large;
    border: 1px solid black;
    border-radius: 6px;
}

button:hover {
    background-color: rgb(121, 90, 149);
}

footer {
    display: flex;
    justify-content: space-around;
    font-size: small;
}